In [1]:
import pandas as pd

In [31]:
cbf_df

           Clubes  PG   J   V   E   D  GP  GC  SG
0        Flamengo  90  38  28   6   4  86  37  49
1          Santos  74  38  22   8   8  60  33  27
2       Palmeiras  74  38  21  11   6  61  32  29
3          Grêmio  65  38  19   8  11  64  39  25
4    Athlético-pr  64  38  18  10  10  51  32  19
5       São paulo  63  38  17  12   9  39  30   9
6   Internacional  57  38  16   9  13  44  39   5
7     Corinthians  56  38  14  14  10  42  34   8
8       Fortaleza  53  38  15   8  15  50  49   1
9           Goiás  52  38  15   7  16  46  64 -18
10          Vasco  49  38  12  13  13  39  45  -6
11          Bahia  49  38  12  13  13  44  43   1
12    Atlético-mg  48  38  13   9  16  45  49  -4
13     Fluminense  46  38  12  10  16  38  46  -8
14    Botafogo-rj  43  38  13   4  21  31  45 -14
15          Ceará  39  38  10   9  19  36  41  -5
16       Cruzeiro  36  38   7  15  16  27  46 -19
17            Csa  32  38   8   8  22  24  58 -34
18    Chapecoense  32  38   7  11  20  31  52 -21
19           Avaí  20  38   3  11  24  18  62 -44

## Correlação entre Pontos e gols marcados

In [23]:
cbf_df[["PG", "GP"]].corr()

          PG        GP
PG  1.000000  0.935497
GP  0.935497  1.000000

## Correlação entre Pontos e gols sofridos

In [24]:
cbf_df[["PG", "GC"]].corr()

          PG        GC
PG  1.000000 -0.716262
GC -0.716262  1.000000

## Analise de resultado

A correlação entre pontos e gol marcados foi de 0.93, portanto uma correlação positiva muito forte.
Já a correlação entre pontos e gols sofridos foi de -0.71, uma correlação negativa forte

## Responda

Um time com maior taxa de gol é portanto o time vencedor, a correlação positiva entre os times estão muito fortes, agora é questão de melhorar sua defesa para diminuir o numero de gols sofridos.